.card{
    border:solid black 2px;
    width: 500px;
    height: 300px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.card-title{
    font-weight: bold;
}

.main-class{
    display: flex;
    justify-content: space-between;
}