@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    font-size: 15px;
    width: 400px;
    margin: 30px auto;
    font-family: 'Poppins',sans-serif;
}

#name{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    border-radius: 16px;
    font-family: 'Poppins',sans-serif;
}

.btn{
    border: none;
    padding: 16px 32px;
    background-color: black;
    color: white;
    border-radius: 16px;
    font-family: 'Poppins',sans-serif;
}

.main{
    display: flex;
    align-items: center;
    height: 100vh;
}