@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto&display=swap');

.container{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 16px;
    font-family: 'Poppins',sans-serif;
}

.signinbtn{
    margin: none;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    color: white;
    background-color: black;
    padding: 12px 20px;
    border-radius: 16px;
}

#nametag{
    width: 350px;
    height: 35px;
    margin: 10px 0;
    font-family: 'Poppins',sans-serif;
    font-size: 12px; 
}